<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
  <div id="can-outer" class="can-outer" style="height: 300px;width: 600px;"></div>
<!--  <div id="can-outer1" class="can-outer" style="height: 300px;width: 600px;display: inline-block;"></div>-->
<!--  <div id="can-outer2" class="can-outer" style="width: 600px;height: 300px;display: inline-block;"></div>-->
<!--  <div id="can-outer3" class="can-outer" style="width: 600px;height: 300px;display: inline-block;"></div>-->
  <div id="can-outer4" class="can-outer" style="width: 600px;height: 600px;"></div>
<!--  <div id="can-outer5" class="can-outer" style="width: 600px;height: 300px;display: inline-block;"></div>-->
</div>

<router-outlet></router-outlet>
