<!--The content below is only a placeholder and can be replaced.-->
<div class="btn-outer">
  <div (click)="update()" class="btn">update</div>
  <div (click)="destroy()" class="btn">destory</div>
</div>
<div class="page">
  <div id="can-outer" style="height: 300px;width: 600px;display: inline-block;"></div>
  <div id="can-outer1" style="height: 300px;width: 600px;display: inline-block;"></div>
  <div id="can-outer2" style="width: 600px;height: 300px;display: inline-block;"></div>
  <div id="can-outer3" style="width: 600px;height: 300px;display: inline-block;"></div>
  <div id="can-outer4" style="width: 600px;height: 300px;display: inline-block;"></div>
  <div id="can-outer5" style="width: 600px;height: 300px;display: inline-block;"></div>
</div>

<router-outlet></router-outlet>
