/* You can add global styles to this file, and also import other style files */
html[lang='en'] * {
  font-family: sans-serif;
}
.chart-label-text {
  font-size: 13px;
  color: #282b3e;
  font-weight: 300;
  line-height: 1.38;
  white-space: nowrap;
}
.chart-label-percent {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
}
.left-align {
  text-align: left;
}
svg * {
  -webkit-tap-highlight-color: transparent;
}
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
.tool-tip {
  &::-webkit-scrollbar
  {
    width:6px;
    height:6px;
    background-color: transparent;
  }
  /*定义滚动条轨道
   内阴影+圆角*/
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0);
    border-radius:10px;
    background-color:transparent;
  }
  /*定义滑块
   内阴影+圆角*/
  &::-webkit-scrollbar-thumb
  {
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0);
    background-color: transparent;
  }
}

