/* You can add global styles to this file, and also import other style files */
html[lang='en'] * {
  font-family: sans-serif;
}
.chart-label-text {
  font-size: 13px;
  color: #282b3e;
  font-weight: 300;
  line-height: 1.38;
  white-space: nowrap;
}
.chart-label-percent {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
}
.left-align {
  text-align: left;
}
svg * {
  -webkit-tap-highlight-color: transparent;
}
